
body{
	margin: 0;
	background: #66CDAA;
}
 
.titulito{
	font-size: 35px;
 color:color: rgba(0, 0, 0, .5); ;
 text-shadow: 2px 2px #222;
 border-bottom: 2px solid #FFF;
 text-align: center;
 margin: 0 0 5px 0;
}
.textos{
	width: 470px;
	padding: 10px;
    margin:1.8;
}
.imagen img{
	display: none;
	max-width: 300px;
	margin: center;

}
@media screen and (min-width: 1201px){
	.textos{
		column-count: 4;
		-webkit-column-count:4;
		-moz-column-count:4;
		-o-column-count:3;
	}
}